.container {
    display: flex;
}

.rowDiv {
    border: 4px solid yellowgreen;

}

.square {
    background: peachpuff;
    border: 100px solid brown;
    height: 50px;
    box-flex-group: purple;
    margin: 10px;

}